@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

body {
  margin: 0%;
}
nav {
  padding: 0% !important;
}
.navbar-brand-logo {
  width: 63px;
  padding-left: 10px;
}
.nav-link {
  color: #fff;
  font-size: 1.3em;
  padding: 10px 20px !important;
  text-decoration: none;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.nav-link:active {
  background: #1cadeb;
}
.nav-link:hover {
  color: #fff;
  background: #1cadeb;
}
.home-screen {
  background-image: url(images/background-image.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.home-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
  margin: 0 auto 0 auto;
}
.home-text > p {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  color: #5e4db1;
}
.main-heading {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80% !important;
  color: rgb(172, 172, 185);
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
}
.main-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c7e31c;
  text-align: center;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-size: 40px;
}
.join-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1cadeb;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
}
.about-image {
  background-image: url(images/Bokeh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
.about-image > h1 {
  width: 80% !important;
  color: #f8eaa9;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  padding-top: 10%;
  margin: 0 auto 0 auto;
}
.about {
  background-color: #f8eaa9;
  text-align: center;
}
.about > h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: xx-large;
  font-family: "Bangers";
  text-align: left;
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;
  line-height: 1.2em;
}
.about > p {
  color: #2a2a2a;
  font-size: large;
  text-align: left;
  font-family: "Actor", sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.5em;
  word-wrap: break-word;
  margin-bottom: 50px;
}
.about > button {
  background-color: #1cadeb;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 auto 50px auto;
}
.course-screen {
  background-image: url("images/1604029702.jpg");
  height: 230vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.course-text {
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 300px;
}
.course-text > h1 {
  font-size: xxx-large;
  color: #8d5024;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Bangers";
  line-height: 41px;
  letter-spacing: 2px;
  word-wrap: break-word;
  margin-bottom: 50px;
}
.course-text > p {
  color: rgb(1, 1, 24);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 39px;
  line-height: 41px;
  font-family: "Bangers";
  letter-spacing: 2px;
  word-wrap: break-word;
  margin: 30px auto;
}
.course-text > ul > li {
  font-size: xx-large;
  color: rgb(80, 141, 36);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-family: "Bangers";
  letter-spacing: 2px;
  word-wrap: break-word;
}
.course-text > ul {
  list-style: none;
}

.course-text > ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.assignment-screen {
  background-image: url(images/378537037.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.assignment-heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80% !important;
  color: #2a2a2a;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
}
.assignment-link > a {
  font-size: xx-large;
  color: rgb(141, 80, 36);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-family: "Bangers";
  letter-spacing: 2px;
  word-wrap: break-word;
}
.assignment-link {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.syllabus-screen {
  background-image: url(images/Wood.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700vh;
  width: 100%;
}
.syllabus-heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80% !important;
  color: #8d2424;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
}
.syllabus-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2a2a2a;
  text-align: center;
  font-style: italic;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-size: 42px;
}
.syllabus-container {
  text-align: left !important;
  position: absolute;
  top: 370%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.syllabus-container > p {
  color: #f8eaa9;
  text-align: center;
  font-style: italic;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-size: 42px;
  margin: 5%;
}
