@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
.popUpMain {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 243, 243, 0.8);
  z-index: 999;
}
* {
  scroll-behavior: smooth;
}
.popup {
  width: 500px;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px #f5f2f2;
}
.popup > img {
  width: 500px;
}
.knowMore {
  border-radius: 25px;
  border: none;
  padding: 7px 15px;
  font-size: medium;
  color: rgb(245, 239, 240);
  background-color: crimson;
  margin: 15px auto;
}
body {
  margin: 0%;
}
nav {
  padding: 0% !important;
}
#initiative {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}
.initiative-header-img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 50px;
}
.initiative-img {
  width: 100%;
}
.initiative-text {
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: justify;

  color: #000000;
}
.initiative-btn {
  border-radius: 25px;
  border: none;
  width: 100%;
  padding: 14px 30px;

  font-size: x-large;
  color: #fff;
  margin: 15px auto;
}
.red-box {
  margin: 20px;
  padding: 10px 20px;
  background: #e43235;
  border-radius: 20px;
}
.red-box-heading {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
}
.red-box-text {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.initiative-heading {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;

  color: #000000;
}

.navbar-brand-logo {
  width: 63px;
  border-radius: 50%;
  margin-left: 10px;
}
.nav-link {
  color: #fff;
  font-size: 1.3em;
  padding: 10px 20px !important;
  text-decoration: none;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.nav-link:active {
  background: #3a3c3d;
}
.nav-link:hover {
  color: #fff;
  background: #3a3c3d;
}
.banner-fadeBottom {
  position: absolute;
  top: 10%;
  z-index: 2;
  height: 7.4rem !important;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.home-screen {
  background-image: url(images/hand-painted.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  text-align: center;
  width: 100%;
}
.home-quote {
  padding-top: 50px;
  margin: 0 auto 0 auto;
}
.home-quote > p {
  margin: 10px auto;
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  color: #5e4db1;
}
.home-heading {
  width: 80% !important;
  color: rgb(95, 95, 100);
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  margin: 50px auto;
}
.home-text {
  color: #3c336d;
  text-align: center;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-size: 40px;
  margin: 20px auto 20px auto;
}
.join-btn {
  background-color: #1cadeb;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 50px auto 120px auto;
}
.about-image {
  background-image: url(images/Bokeh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}
.about-image > h1 {
  width: 80% !important;
  color: #f8eaa9;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  padding-top: 10%;
  margin: 0 auto 0 auto;
}
.about {
  background-color: #f8eaa9;
  text-align: center;
}
.about > h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: xx-large;
  font-family: 'Bangers';
  text-align: left;
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;
  line-height: 1.2em;
}
.about > p {
  color: #2a2a2a;
  font-size: large;
  text-align: left;
  font-family: 'Actor', sans-serif;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.5em;
  word-wrap: break-word;
  margin-bottom: 50px;
}
.about > a > button {
  background-color: #1cadeb;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 auto 50px auto;
}

.course-screen {
  /* background-color: #fff; */
  background-color: #cae3ee;
  /* background-image: url("images/imageedit_1_8527365081.png"); */
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.course-text > h1 {
  font-size: 55px;
  color: #8d5024;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Bangers';
  line-height: 41px;
  letter-spacing: 2px;
  word-wrap: break-word;
  padding-top: 50px;
  margin-bottom: 50px;
}
.course-text > p {
  color: rgb(1, 1, 24);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 39px;
  line-height: 41px;
  font-family: 'Bangers';
  letter-spacing: 2px;
  word-wrap: break-word;
  margin: 30px auto 0 auto;
  padding: 15px;
}
.course-text > ul > li {
  font-size: xx-large;
  color: rgb(80, 141, 36);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-family: 'Bangers';
  letter-spacing: 2px;
  word-wrap: break-word;
}
.course-text > ul {
  list-style: none;
}

.course-text > ul li::before {
  content: '\2022';
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.card-header {
  text-align: center;
  background-color: #4a88e6;
  font-size: xx-large;
  color: rgb(232, 243, 224);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-family: 'Bangers';
  letter-spacing: 2px;
  word-wrap: break-word;
}
.card-body {
  background-color: #b4ddf8;
}

.list-btn {
  padding: 0;
  list-style-type: none;
}

ul > a > .odd,
.even {
  box-sizing: border-box;
  text-decoration: none;
  width: 15em;
  height: 3em;
  font-size: 22px;
  font-weight: bold;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: white;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
}
ul > a:hover {
  text-decoration: none;
}

.odd {
  background: linear-gradient(to right, rgb(247, 72, 72), rgb(82, 49, 43));
  text-align: left;
  padding-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  transform: perspective(500px) rotateY(45deg);
}

.even {
  background: linear-gradient(to left, rgb(247, 72, 72), rgb(82, 49, 43));
  text-align: right;
  padding-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  transform: perspective(500px) rotateY(-45deg);
}

.odd:hover {
  transform: perspective(200px) rotateY(45deg);
  padding-left: 5%;
}

.even:hover {
  transform: perspective(200px) rotateY(-45deg);
  padding-right: 5%;
}
.list-item {
  font-size: large;
  font-weight: 600;
  color: #3e2e77;
}
.option {
  display: flex;
  justify-content: center;
}
.card {
  margin: 10px;
}

.assignment-screen {
  background-image: url(images/378537037.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
.assignment-heading {
  width: 80% !important;
  color: #2a2a2a;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  padding-top: 7%;
  padding-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}
.assignment-link > a {
  font-size: xx-large;
  color: rgb(141, 80, 36);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-family: 'Bangers';
  letter-spacing: 2px;
  word-wrap: break-word;
}

.syllabus-screen {
  background-image: url(images/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
.syllabus-heading {
  width: 80% !important;
  color: #8d2424;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  margin: 0px auto 50px auto;
  padding-top: 50px;
}
.syllabus-text {
  color: #2a2a2a;
  text-align: center;
  font-style: italic;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-size: 42px;
}

.syllabus-class {
  color: #5d56be;
  text-align: left;
  font-style: italic;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 41px;
  font-size: 42px;
  margin: 5%;
}
.result-screen {
  text-align: center;
  background-color: #caecee;
  height: auto;
}
.result-heading {
  text-decoration: underline;
  color: #8d5024;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  padding-bottom: 50px;
  padding-top: 10%;
}
.result-screen > div > p {
  color: rgb(76, 68, 68);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 41px;
  font-family: 'Bangers';
  letter-spacing: 2px;
  word-wrap: break-word;
  margin: 30px auto 0 auto;
}
.result-list {
  text-align: left;
  padding-bottom: 50px;
}
.data {
  color: rgb(255, 146, 27);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  font-family: 'Bangers';
  letter-spacing: 2px;
  word-wrap: break-word;
  padding: 10px;
}
table {
  margin-left: 50px;
  margin-top: 30px;
}

.contact-image {
  background-image: url(images/Triangle-Pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
.contact-image > h1 {
  width: 80% !important;
  color: #f8eaa9;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  padding-top: 10%;
  margin: 0 auto 0 auto;
}
.contact {
  background-color: #ffffff;
  text-align: center;
}
.contact-heading {
  margin-top: 50px;
  color: rgb(194, 59, 59);
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Actor';
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  word-wrap: break-word;
  line-height: 1.5em;
}
.contact > p {
  color: rgb(141, 80, 36);
  font-size: 22px;
  text-align: center;
  font-family: 'Actor', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.5em;
  word-wrap: break-word;
  margin-bottom: 50px;
}
.about > button {
  background-color: #1cadeb;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 auto 50px auto;
}
label > span {
  color: red;
}
form {
  text-align: left;
}
.contact-side-heading {
  color: #2a2a2a;
  font-weight: bold;
  text-align: center;
  font-family: 'Actor';
  font-size: 56px;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: auto auto;
}
.contact-mail {
  color: rgb(141, 36, 36);
  font-weight: normal;
  text-align: center;
  font-family: 'Actor';
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: auto auto;
}
.address {
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  font-family: 'Capture it';
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.comment-image {
  background-image: url(images/comments-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
.comment-image > h1 {
  width: 80% !important;
  color: #2a2a2a;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  word-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 100px;
  padding-top: 5%;
  margin: 0 auto 0 auto;
}
.comment-image > p {
  width: 80% !important;
  color: #fff;
  text-align: center;
  font-family: 'Bangers';
  word-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  font-size: 39px;
  letter-spacing: 2px;
  margin: 0 auto 0 auto;
}
.comment {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8%;
}
.contact-heading {
  margin-top: 50px;
  color: rgb(194, 59, 59);
  margin-bottom: 30px;
  font-size: 35px;
  font-family: 'Actor';
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  word-wrap: break-word;
  line-height: 1.5em;
}
.contact > p {
  color: rgb(141, 80, 36);
  font-size: 22px;
  text-align: center;
  font-family: 'Actor', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.5em;
  word-wrap: break-word;
  margin-bottom: 50px;
}
.comment > span {
  color: #1cadeb;
}
.about > button {
  background-color: #1cadeb;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 auto 50px auto;
}
label > span {
  color: red;
}
form {
  text-align: left;
}
.contact-side-heading {
  color: #2a2a2a;
  font-weight: bold;
  text-align: center;
  font-family: 'Actor';
  font-size: 56px;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: auto auto;
}
.contact-mail {
  color: rgb(141, 36, 36);
  font-weight: normal;
  text-align: center;
  font-family: 'Actor';
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: auto auto;
}
.address {
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  font-family: 'Capture it';
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.footer-social > ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-area {
  border-bottom: 1px solid #8b9199;
  padding: 40px;
}

.footer-content p {
  font-size: 15px;
  margin: 30px 0 30px;
  position: relative;
  color: #fff;
}

.footer-content h6 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-social {
  margin-top: 30px;
}

.footer-social > ol {
  display: inline-flex;
}

.footer-social ol li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.footer-social ol li a:hover {
  border: 1px solid #fff;
  color: #fff;
  transform: scale(1.4);
}

.footer-content img {
  width: 150px;
  border-radius: 50%;
}

.footer-area,
footer {
  background: #2a2a2a;
  color: #fff;
}

footer p {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 0;
}

.card-img-top {
  width: 100%;
  height: 200px;
}
.card-price-toggle {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #52c5f7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #52c5f7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

.initiative-card {
  position: relative;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.initiative-card::before {
  content: '';
  position: absolute;
  top: -70%;
  width: 100%;
  height: 100%;
  background: #e43235;
  transform: skewY(345deg);
  transition: 0.5s;
}

.initiative-card:hover::before {
  top: -90%;
  transform: skewY(360deg);
}

.initiative-card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}
.initiative-card:hover::after .contentBox {
  content: 'Hello';
}
.initiative-card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.initiative-card .contentBox h3 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.initiative-card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
  color: #fff;
  background: #e43235;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.initiative-card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

@media (min-width: 300px) and (max-width: 580px) {
  * {
    scroll-behavior: smooth;
  }
  .popUpMain {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 243, 243, 0.8);
    z-index: 999;
  }

  .popup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px #f5f2f2;
  }
  .popup > img {
    width: 90%;
  }
  .knowMore {
    border-radius: 25px;
    border: none;
    padding: 7px 15px;
    font-size: medium;
    color: rgb(245, 239, 240);
    background-color: crimson;
    margin: 15px auto;
  }
  body {
    margin: 0%;
  }
  nav {
    padding: 0% !important;
  }
  .navbar-brand-logo {
    width: 63px;
    padding-left: 10px;
  }
  .nav-link {
    color: #fff;
    font-size: 1em;
    padding: 10px 20px !important;
    text-decoration: none;
    -webkit-transition: background 1s;
    transition: background 1s;
  }
  .nav-link:active {
    background: #1cadeb;
  }
  .nav-link:hover {
    color: #fff;
    background: #1cadeb;
  }
  #initiative {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
  }
  .initiative-header-img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
  }
  .initiative-img {
    width: 80%;
  }
  .initiative-text {
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: justify;

    color: #000000;
  }
  .initiative-btn {
    border-radius: 25px;
    border: none;
    width: 60%;
    padding: 7px 15px;
    font-size: medium;
    color: #fff;
    margin: 15px auto;
  }

  .initiative-heading {
    margin-top: 20px;
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;

    color: #000000;
  }

  .home-screen {
    background-image: url(images/hand-painted.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    text-align: center;
    width: 100%;
  }
  .home-quote {
    padding-top: 50px;
    margin: 0 auto 0 auto;
  }
  .home-quote > p {
    margin: 10px auto;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #5e4db1;
  }
  .home-heading {
    width: 80% !important;
    color: rgb(95, 95, 100);
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    word-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    font-size: 60px;
    margin: 50px auto;
  }
  .home-text {
    color: #3c336d;
    text-align: center;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    word-wrap: break-word;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 41px;
    font-size: 35px;
    margin: 10px auto 10px auto;
  }
  .join-btn {
    background-color: #1cadeb;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px auto;
  }
  .about-image {
    background-image: url(images/Bokeh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
  }
  .about-image > h1 {
    width: 80% !important;
    color: #f8eaa9;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    word-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    font-size: 70px;
    padding-top: 10%;
    margin: 0 auto 0 auto;
  }
  .about {
    background-color: #f8eaa9;
    text-align: center;
  }
  .about > h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: xx-large;
    font-family: 'Bangers';
    text-align: left;
    font-weight: bold;
    letter-spacing: 2px;
    word-wrap: break-word;
    line-height: 1.2em;
    padding: 10px;
  }
  .about > p {
    color: #2a2a2a;
    font-size: large;
    text-align: left;
    font-family: 'Actor', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 1.5em;
    word-wrap: break-word;
    margin-bottom: 50px;
  }
  .about > a > button {
    background-color: #1cadeb;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto 30px auto;
  }

  .course-screen {
    /* background-color: #fff; */
    background-color: #cae3ee;
    /* background-image: url("images/imageedit_1_8527365081.png"); */
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .course-text > h1 {
    font-size: 35px;
    color: #8d5024;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Bangers';
    line-height: 41px;
    letter-spacing: 2px;
    word-wrap: break-word;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .course-text > p {
    color: rgb(1, 1, 24);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 39px;
    line-height: 41px;
    font-family: 'Bangers';
    letter-spacing: 2px;
    word-wrap: break-word;
    margin: 30px auto 0 auto;
    padding: 15px;
  }
  .course-text > ul > li {
    font-size: xx-large;
    color: rgb(80, 141, 36);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 41px;
    font-family: 'Bangers';
    letter-spacing: 2px;
    word-wrap: break-word;
  }
  .course-text > ul {
    list-style: none;
  }

  .course-text > ul li::before {
    content: '\2022';
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .card-header {
    text-align: center;
    background-color: #4a88e6;
    font-size: xx-large;
    color: rgb(232, 243, 224);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 41px;
    font-family: 'Bangers';
    letter-spacing: 2px;
    word-wrap: break-word;
  }
  .card-body {
    background-color: #b4ddf8;
  }

  .list-btn {
    padding: 0;
    list-style-type: none;
  }

  ul > a > .odd,
  .even {
    box-sizing: border-box;
    width: 15em;
    height: 3em;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
  }

  ul > a:hover {
    text-decoration: none;
  }

  .odd {
    background: linear-gradient(to right, rgb(247, 72, 72), rgb(82, 49, 43));
    text-align: left;
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    transform: perspective(500px) rotateY(45deg);
  }

  .even {
    background: linear-gradient(to left, rgb(247, 72, 72), rgb(82, 49, 43));
    text-align: right;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    transform: perspective(500px) rotateY(-45deg);
  }

  .odd:hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
  }

  .even:hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
  }
  .list-item {
    font-size: large;
    font-weight: 600;
    color: #3e2e77;
  }
  .option {
    display: flex;
    justify-content: center;
  }

  .card {
    margin: 15px;
  }

  .assignment-screen {
    background-image: url(images/378537037.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
  }
  .assignment-heading {
    width: 80% !important;
    color: #2a2a2a;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    word-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    font-size: 35px;
    padding-top: 7%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
  }
  .assignment-link > a {
    font-size: xx-large;
    color: rgb(141, 80, 36);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 41px;
    font-family: 'Bangers';
    letter-spacing: 2px;
    word-wrap: break-word;
  }

  .syllabus-screen {
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
  }
  .syllabus-heading {
    width: 80% !important;
    color: #8d2424;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    word-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    font-size: 55px;
    margin: 0px auto 50px auto;
    padding-top: 50px;
  }
  .syllabus-text {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    word-wrap: break-word;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 41px;
    font-size: 28px;
  }

  .syllabus-class {
    color: #5d56be;
    text-align: left;
    font-style: italic;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    word-wrap: break-word;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 41px;
    font-size: 32px;
    margin: 5%;
  }
  .result-screen {
    text-align: center;
    background-color: #caecee;
    height: auto;
  }
  .result-heading {
    text-decoration: underline;
    color: #8d5024;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 10%;
  }
  .result-screen > div > p {
    color: rgb(76, 68, 68);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 41px;
    font-family: 'Bangers';
    letter-spacing: 2px;
    word-wrap: break-word;
    margin: 30px auto 0 auto;
  }
  .result-list {
    text-align: left;
    padding-bottom: 30px;
  }
  .data {
    color: rgb(255, 146, 27);
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    font-family: 'Bangers';
    letter-spacing: 2px;
    word-wrap: break-word;
    padding: 10px;
  }
  table {
    margin-left: 0px;
    margin-top: 0px;
  }

  .contact-image {
    background-image: url(images/Triangle-Pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
  }
  .contact-image > h1 {
    width: 80% !important;
    color: #f8eaa9;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    word-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    font-size: 60px;
    padding-top: 10%;
    margin: 0 auto 0 auto;
  }
  .contact {
    background-color: #ffffff;
    text-align: center;
  }
  .contact-heading {
    margin-top: 50px;
    color: rgb(194, 59, 59);
    margin-bottom: 10px !important;
    font-size: 20px !important;
    font-family: 'Actor';
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    word-wrap: break-word;
    line-height: 1em;
  }
  .contact > p {
    color: rgb(141, 80, 36);
    font-size: 26px !important;
    text-align: center;
    font-family: 'Actor', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.5em;
    word-wrap: break-word;
    margin-bottom: 50px;
  }
  .about > button {
    background-color: #1cadeb;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto 50px auto;
  }
  label > span {
    color: red;
  }
  form {
    text-align: left;
  }
  .contact-side-heading {
    color: #2a2a2a;
    font-weight: bold;
    text-align: center;
    font-family: 'Actor';
    font-size: 35px !important;
    letter-spacing: 1px;
    line-height: 1em;
    margin: auto auto;
  }
  .contact-mail {
    color: rgb(141, 36, 36);
    font-weight: normal;
    text-align: center;
    font-family: 'Actor';
    font-size: 20px !important;
    margin: auto auto 20px auto !important;
  }
  .address {
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
    word-wrap: break-word;
  }

  .comment-image {
    background-image: url(images/comments-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
  }
  .comment-image > h1 {
    width: 80% !important;
    color: #2a2a2a;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    word-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    font-size: 45px;
    padding-top: 5%;
    margin: 0 auto 0 auto;
  }
  .comment-image > p {
    width: 80% !important;
    color: #fff;
    text-align: center;
    font-family: 'Bangers';
    word-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.1;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0 auto 0 auto;
  }
  .comment {
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 8%;
  }
  .contact-heading {
    margin-top: 50px;
    color: rgb(194, 59, 59);
    margin-bottom: 30px;
    font-size: 35px;
    font-family: 'Actor';
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    word-wrap: break-word;
    line-height: 1.5em;
  }
  .contact > p {
    color: rgb(141, 80, 36);
    font-size: 22px;
    text-align: center;
    font-family: 'Actor', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1.5em;
    word-wrap: break-word;
    margin-bottom: 50px;
  }
  .comment > span {
    color: #1cadeb;
  }
  .about > button {
    background-color: #1cadeb;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto 50px auto;
  }
  label > span {
    color: red;
  }
  form {
    text-align: left;
  }
  .contact-side-heading {
    color: #2a2a2a;
    font-weight: bold;
    text-align: center;
    font-family: 'Actor';
    font-size: 56px;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: auto auto;
  }
  .contact-mail {
    color: rgb(141, 36, 36);
    font-weight: normal;
    text-align: center;
    font-family: 'Actor';
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: auto auto;
  }
  .address {
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    font-family: 'Capture it';
    font-weight: bold;
    letter-spacing: 2px;
    word-wrap: break-word;
  }
  .footer-social > ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer-area {
    border-bottom: 1px solid #353c46;
    padding-top: 30px;
    padding-left: auto;
    padding-right: auto;
  }

  .footer-content p {
    font-size: 12px;
    margin: 20px 0 20px;
    position: relative;
    color: #fff;
  }

  .footer-content h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .footer-social {
    margin-top: 30px;
  }

  .footer-social > ol {
    display: inline-flex;
  }

  .footer-social ol li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 30px;
    margin: 0 5px;
    padding-top: 3.5px;
    transition: all 0.4s ease 0s;
    width: 30px;
  }

  .footer-social ol li a:hover {
    border: 1px solid #fff;
    color: #fff;
    transform: scale(1.4);
  }

  .footer-content img {
    width: 100px;
  }

  .footer-area,
  footer {
    background: #2a2a2a;
    color: #fff;
  }

  footer p {
    padding: 10px 0;
    text-align: center;
    margin-bottom: 0;
  }

  .card-img-top {
    width: 100%;
    height: 200px;
  }
  .card-price-toggle {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-price-toggle > h3 {
    font-size: 22px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #52c5f7;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #fff;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #52c5f7;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
@media (min-width: 765px) and (max-width: 995px) {
  .card-price-toggle {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-price-toggle > h3 {
    font-size: 22px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: #52c5f7;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #fff;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #52c5f7;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.initiative-card {
  margin: 15px;
  position: relative;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.initiative-card::before {
  content: '';
  position: absolute;
  top: -70%;
  width: 100%;
  height: 100%;
  background: #e43235;
  transform: skewY(345deg);
  transition: 0.5s;
}

.initiative-card:hover::before {
  top: -90%;
  transform: skewY(360deg);
}

.initiative-card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}
.initiative-card .contentBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.initiative-card .contentBox h3 {
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
